.btn-descarga {
    background-color: #4CAF50; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 15px 32px; /* Espaciado interno */
    text-align: center; /* Centrado del texto */
    border: none; /* Sin borde */
    display: inline-block; /* Para que se comporte como un botón */
    font-size: 16px; /* Tamaño del texto */
    border-radius: 8px; /* Bordes redondeados */
    cursor: pointer; /* Cursor en forma de mano */
}

/* Efecto al pasar el mouse */
.btn-descarga:hover {
    background-color: #45a049; 
}